body {
	font-family: 'Atlas Grotesk';
	margin: 0; 
} 
a {
	text-decoration: none;
	color: black;
}
h1 {
	font-weight: 400;
}
p, h3, h4 {
	margin: 0;
}
summary {
	cursor: pointer;
}
sup {
	color: rgba(0,0,0,0.5);
}

summary::-webkit-details-marker {
  display: none;
}
summary:before {
	font-family: FontAwesome;
	content: "\f0da";
	margin-right: 5px;
	display: inline-block;
	transition: 0.5s transform;
}
details[open] summary:before {
  transform: rotate(90deg);
}

h1 .flag-icon {
	border-radius: 1px;
	position: relative;
	top: -4px;
    background-size: cover;
    font-size: 1.65rem;
}
h2 {
	font-weight: 400;
	margin: 0;
	font-size: 1.2rem;
}
.country-profile {
	display: inline-block;
	width: 65%;
	margin: 0 auto;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
}
.country-snapshot h1 {
	padding: 1rem 2rem;
	margin: 0;
	box-shadow: -1px 0px 4px rgba(0,0,0,0.25);
}
.country-details-row {
	display: block;
	font-size: 0.8rem;
	padding: 0.75rem 2rem;
}
.country-details-row a {
	color: rgba(0,0,0,0.5);
	margin-right: 7px;
}
.country-details-row a:hover {
	color: rgba(0,0,0,1);
}
.country-snapshot, .strategies, .metrics-priorities {
}

.country-snapshot aside {
	width: 30%;
}
.country-snapshot summary header, .country-snapshot aside header {
	background: #ddd;
	padding: 10px;
	font-size: 0.8rem;
}
.country-snapshot summary header a {
	margin-right: 10px;
}
.country-snapshot .domains {
	padding: 1rem 2rem;
}
.country-snapshot .domains ul {
	list-style: none;
	margin: 5px 0 0;
	padding: 0;
}
.country-snapshot .domains li {
	display: inline-block;
    margin:0 4px 4px 0;
	background: linear-gradient(to bottom right, rgb(115,50,255), rgb(75,0,235));
	vertical-align: top;
	position: relative;
	padding: 8px 10px 8px 10px;
	border-radius: 4px;
	color: white;
}
/* .country-snapshot summary main li span {
	position: absolute;
	top: 2px;
	left: 2px;
	line-height: 1.2;
	text-shadow: none;
} */
.country-snapshot aside main {
	font-size: 0.8rem;
	padding: 10px;
}
.country-snapshot aside main .flag-icon {
	margin-right: 2px;
    background-size:cover;
}
.country-snapshot aside main .country-name {
	width: 65px;
	display: inline-block;
}
.country-snapshot aside main .bar {
	display: inline-block;
	background: rgba(0,0,0,0.5);
	height: 1rem;
	border-radius: 2px;
	margin-right: 5px;
	position: relative;
	top: 3px;
}
.country-snapshot aside nav {
	font-size: 0.8rem;
	border-top: 1px solid #ddd;
}
.country-snapshot aside nav a {
	width: 100%;
	padding: 10px;
	opacity: 0.5;
	display: inline-block; 
	transition: opacity 0.3s;
}
.country-snapshot aside nav a:hover {
	opacity: 1;
}
.strategies article {
	padding: 10px 12px;
	border-radius: 4px;
	background: linear-gradient(to top right, rgb(245,245,245), rgb(240,240,240));
}
.strategies article + article {
	margin:10px 0 0 0;
}
.strategies article p, .strategies article details {
	font-size: 0.8rem;
	line-height: 1.3;
}
.strategies article p b i {
	position: relative;
	top: 1px;
	margin-left: 1px;
}
.strategies article details {
	color: rgba(0,0,0,0.5);
	transition: color 0.2s;
	cursor: pointer;
}
.strategies article details[open] {
	color: rgba(0,0,0,1);
	margin-top: 5px;
}
.strategies details p {
	padding: 2px 15px;
	line-height: 1.5;
	max-width: 60%;
}
.strategies ul {
	margin: 0;
	padding: 2px 27px;
	line-height: 1.5;
	max-width: 60%;
}
.country-profile > section {
	margin: 0px auto;
	padding: 1rem 2rem;
}
.country-profile > section h2 {
	margin-bottom: 0.5rem;
}
.metrics-priorities > article {
	margin-bottom: 1rem;
	border-radius: 4px;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}
.metrics-priorities > article h3 {
	font-weight: 400;
	background: linear-gradient(to right, rgb(115,50,255), rgb(75,0,235));
	color: white;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.metrics-priorities h3 {
	padding: 10px 15px;
}
.metrics-priorities .themes {
	padding: 5px 15px;
}
.metrics-priorities > article ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.metrics-priorities > article ul li {
	padding: 15px 0;
	border-bottom: 2px solid rgba(0,0,0,0.05)
}
.metrics-priorities .themes li:last-child {
	border-bottom: none;
}
.metrics-priorities i.yes {
	color: rgb(0,200,0);
}
.metrics-priorities i.no {
	color: rgb(255,0,0);
}
.metrics-priorities > article ul li details {
	margin-left: 26px;
	font-size: 0.8rem;
}
.metrics-priorities .themes h4 {
	font-weight: 400;
	margin-bottom: 3px;
	margin-left: 25px;
	text-indent: -12px;
}
.themes h4 i {
	margin-right: 6px;
}
.metrics-priorities .themes p {
	margin-left: 26px;
	font-size: 0.8rem;
}
.metrics-priorities > article > p {
	padding: 10px 12px;
	background: linear-gradient(to bottom left, rgb(255,255,255), rgb(235,235,235));
	color: rgba(0,0,0,0.6);
}
.metrics-priorities .theme ol {
	list-style-type: none;
	padding-left: 12px;
	background: rgba(0,0,0,0.03);
	border-radius: 4px;
	padding: 12px 33px;
	margin: 5px 25px 10px auto;
}
.theme li {
	padding: 0;
}
summary:focus {
	outline: 0px;
}
.theme summary {
	color: rgba(0,0,0,0.5);
}
.metrics-priorities .theme li {
	font-size: 1rem;
}
.metrics-priorities .theme li small {
	display: block;
	margin-top: 5px;
	font-size: 0.8rem;
	color: rgba(0,0,0,0.5);
}

/* Country in Context Sidebar --------- */
.country-in-context {
	display: inline-block;
	width: 33%;
	vertical-align: top;
}

/* Modifiers */
.grey-border {
	border: 1px solid #ddd;
	border-radius: 6px;
}
p.space-below, details.space-below {
	margin-bottom: 6px;
}
.grey {
	color: rgba(0,0,0,0.5);
}
.half-opaque {
	opacity: 0.5;
}