* {
    box-sizing: border-box;
}

a {
	text-decoration: none;
    color:black;
}

body {
    position:relative;
    width:100%;
    height:auto;
    margin:0;
    font-family: 'Atlas Grotesk';
}

.income-button {
    position:absolute;
    top:10px;
    left:10px;
    
    background:rgb(240,240,240);
    display: inline-block;
    color:black;
    font-family: 'Helvetica';
    padding:5px;
    
    cursor:pointer;
}

.income-button:hover {
    background:rgb(230,230,230);
}

.countries {
    fill:rgba(255,255,255,0.1);
}

.countries.active {
    fill:rgba(235,225,230,0.3);
    cursor: pointer;
}

.countries.active:hover {
    fill:rgba(255,115,140,1);
}

#landing-screen {
    margin: 0 auto;
    width: 100%;
    padding: 60px 10px;
    background: radial-gradient(rgba(75,0,235,0.7), rgba(75,0,235,0.9));
}
#landing-screen .countries-list, #landing-screen .map {
    display: inline-block;
    vertical-align: top;
}
#landing-screen .countries-list{
    width: 33%;
    display: none;
}
#landing-screen .map {
    width: 100%;
}
#hero-text {
    pointer-events: none;
    font-size: 3.5rem;
    font-weight: 400;
    position: absolute;
    top: 20%;
    left: 7%;
    color: white;
    text-shadow: 0px 2px 6px rgba(75,0,235,0.9);
}
