.country-card {
    margin: 0;
    position:relative;
    width:375px;
    flex-shrink: 0;
    display:none;
   /* border: 1px solid rgb(75,0,235); */
    background:white;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(75,0,235,0.9);
}
.countries .country-card {
    box-shadow: none;
    width: 100%;
    padding: 1rem 2rem 0;
    border-radius: 0;
}
.country-item {
    box-shadow: none;
    width: 100%;
    padding: 0.5rem 2rem 0.6rem;
    border-radius: 0;
    border-bottom: 2px solid rgba(0,0,0,0.05);
}
.countries .country-card h1 {
    font-size: 2rem;
}
.country-item h1 {
    font-size: 1.5rem;
}
.countries .country-card h1, .country-item h1 {
    padding: 7px 10px 0px 0px;
    color: rgba(75,0,235,0.9);
    background: none;
    box-shadow: none;
    font-weight: 400;
    margin: 0;
}
.countries .country-card h1 .collection {
    font-size: 2rem;
}
        
.countries .country-card h1 .collection, .country-item h1 .collection {
    display: inline-block;
    color: rgba(0,0,0,0.25);
    padding: 0;
    position: relative;
    left: 0;
    transition: left 0.3s; 
}
.countries .country-card .country-details, .country-item .country-details {
    background: none;
    padding-left: 2px;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(0,0,0,0.06);
    color: rgba(0,0,0,0.35);
    padding-top: 7px;
}
.countries .country-card:hover, .country-item:hover{
    background: linear-gradient(to bottom right, rgba(75,0,235,0.9), rgba(75,0,235,0.7));
    cursor:pointer;
}
.countries .country-card:hover h1, .countries .country-card:hover h1 .collection, .countries .country-card:hover .country-details, .country-item:hover h1, .country-item:hover h1 .collection, .country-item:hover .country-details {
    color: white;
}
.countries .country-card:hover h1 .collection, .country-item:hover h1 .collection {
    left: 1rem;
 } 
 

.country-card h1 {
    position:relative;
    margin:0;
    padding:6px 10px 4px 10px;
    font-size:16px;
    background: linear-gradient(to bottom right, rgba(75,0,235,0.9), rgba(75,0,235,0.7));
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 400;
}
.country-card .flag-icon {
    border-radius:2px;
    margin-right:6px;
    background-size:cover;
    display: none;
}

.country-card .country-details {
    font-size:14px;
    color:rgba(0,0,0,0.6);
    padding: 7px 10px 5px 10px;
    background: rgba(0,0,0,0.05);
    background: linear-gradient(to bottom left, rgba(0,0,0,0), rgba(0,0,0,0.1));
}

.country-card .country-details div, .country-item .country-details div {
    display:inline-block;
}

.country-card .country-details div + div {
    padding:0 0 0 8px;
}

.country-card .collection {
    font-size: 14px;
    padding:  8px 10px 5px 10px;
    display:none;
}

.country-card .domain-cards {
    padding: 0 10px 10px 10px;
    flex-wrap: wrap;
    display: none;
}

.country-card .domain-card {
    position:relative;
    border: 1px solid rgb(200,200,200);
    border-radius:5px;
    width:90px;
    height:60px;
    margin:6px 6px 0 0;
    background:rgb(255,245,150);
}

.country-card .domain-name {
    position:absolute;
    margin:2px 6px 0 6px;
    width:100%;
    font-size:13px;
}

.country-card .domain-count {
    position:relative;
    font-size:28px;
    line-height:28px;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    text-align: center;
    
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}
