@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('../fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
       url('../fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:black;
}

body {
    position:relative;
    width:100%;
    height:auto;
    margin:0;
    font-family: 'Atlas Grotesk Web';
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}
main {
    position:relative;
    margin:0;
    width:auto;
}

main > header > h1 {
    font-weight:400;
    font-size: 30px;
    line-height:30px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
    padding: 1rem 2rem;
    margin: 0;
    position: relative;
    z-index: 2;
}

nav.toggles {
    width:100%;
    padding: 1rem 2rem 1.25rem;
    background:rgb(240,240,240);
    border-radius:6px;
    display: block;
}

nav.toggles p {
    padding:0;
    margin:0 0.5rem 0 0;
    font-size:15px;
    line-height:15px;
    color:rgb(125,125,125);
}
.country-filters {
    margin-right: 1rem;
    display: inline-block;
}
.country-filters select {
    margin:0 6px 0 0;
    padding:6px 8px 6px 8px;
    font-family: 'Atlas Grotesk Web';
    font-size:15px;
    line-height:16px;
    border:none;
    border-radius:4px;
    background:white;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    cursor: pointer;
}
.country-filters select:after {
    font-family: FontAwesome;
    content: "\f0d7";
    color: black;
}

.country-view-toggles {
    display: inline-block;
}

.country-views {
    display: inline-block;
    margin-right: 0.25rem;
}

.country-views .button{
    padding: 6px 8px 6px 8px;
    font-family: 'Atlas Grotesk Web';
    font-size:15px;
    line-height:15px;
    color: white;
    background: rgba(255,92,46,0.7);
    opacity: 0.9;
    transition: opacity 0.2s;
    display: inline-block;
}

.country-views .button:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: -5px;
}
.country-views .button:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.country-views .column-one{
    margin:0 6px 0 0;
}

.country-views .button.selected{
    color: rgba(255,255,255,1);
    /*background: linear-gradient(to bottom right, rgba(0,132,255,1), rgba(0,104,214,1));*/
    background: rgb(255,92,46);
}

.country-views .button:hover{
    cursor:pointer;
    opacity: 1;
}
.toggles {
    padding-left: 2rem;
}
.country-filters p, .country-filters select {
    display: inline-block;
}
.country-filters p {
    margin-right: 0.5rem;
}

@media screen and (min-width: 1016px) and (max-width: 1220px) {
    .country-view-toggles {
        vertical-align: top;
    }
    .country-views {
        display: block;  
    }
    .country-views:first-of-type {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 1015px) {
    .country-view-toggles { 
        display: block;
        margin-top: 0.5rem;
    }
    .country-views {
        display: inline-block;  
    }
}

.countries {
    margin: 0;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
}

.label-bar {
    padding:0 0 24px 140px;
    width:100%;
    height:20px;
    
    font-size:14px;
    line-height:14px;
    color:rgb(180,180,180);
}

.country-bar {
    height:20px;
    display:flex;
    flex-wrap: wrap;
    transition: height 200ms;
    cursor:pointer;
    padding: 0 2rem;
}

.country-bar + .country-bar {
    margin:6px 0 0 0;
}

.country-bar:first-of-type {
    margin-top: 1rem;
}

.country-bar:last-of-type {
    margin-bottom: 1.2rem;
}

.country-bar .country-name {
    margin:0;
    padding:3px 0 0 0;
    
    position:relative;
    line-height:14px;
    width:140px;
    height:20px;
    opacity: 0.8;
    
    white-space: nowrap;
    overflow:hidden;
    
    align-self: flex-start;

    transition: opacity 0.3s;
}
.country-bar:hover .country-name {
    opacity: 1;
}


.country-bar .flag-icon {
    position:relative;
    top:-1px;
    border-radius:2px;
    margin-right:6px;
    background-size:cover;
    overflow:visible;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.25);
}

.country-bar .country-chart {
    margin:0 6px 0 0;
    background: linear-gradient(to right, rgba(0,132,255,0.7), rgba(0,104,214,0.7));
    border-radius:4px;
    display:flex;
    overflow:hidden;
    
    height:20px;
    align-self: flex-start;
}
.country-chart.chart-hover {
    background: linear-gradient(to right, rgba(0,132,255,0.6), rgba(0,104,214,0.6));
}

.country-bar .country-metrics {
    margin:0;
    padding:3px 0 0 0;
    line-height:14px;
    
    align-self:flex-start;
    
    height:20px;
    color: rgba(0,0,0,0.35);
}

.country-domain {
    height:20px;
}

.country-domain.demand {
    background:skyblue;
}

.country-domain.development {
    background:yellow;
}

.country-domain.health {
    background:red;
}

.country-domain.international {
    background:green;
}

.country-domain.peace {
    background:pink;
}

.country-domain.rights {
    background:orange;
}

.country-domain.supply {
    background:purple;
}

.tool-tip{
    position:absolute;
    border-radius:4px;
    font-size: 1rem;
    line-height: 1rem;
    background:white;
    display:none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
}

.tool-tip span {
    display: inline-block;
    padding: 6px 6px 4px 6px;
}

.tool-tip .count {
    background-color: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.6);
}

.country-card {
    margin: 0;
    padding: 1rem 2rem 0;
    position:relative;
    width:100%;
    flex-shrink: 0;
    display:none;
    background:white;
}
.countries .country-card h1 {
    font-size: 2rem;
    padding: 7px 10px 0px 0px;
    color: rgba(0,104,214,0.9);
    background: none;
    box-shadow: none;
    font-weight: 400;
    margin: 0;
}
.countries .country-card h1 .collection {
    font-size: 2rem;
    display: inline-block;
    color: rgba(0,0,0,0.25);
    padding: 0;
    position: relative;
    left: 0;
    transition: left 0.3s; 
}
.countries .country-card .country-details{
    background: none;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(0,0,0,0.06);
    color: rgba(0,0,0,0.35);
    padding-top: 7px;
}
.country-card .country-details div{
    display:inline-block;
    padding:0 6px 0 0;
}
.countries .country-card:hover{
    background: linear-gradient(to bottom right, rgba(0,104,214,0.9), rgba(0,104,214,0.7));
    cursor:pointer;
}
.countries .country-card:hover h1, .countries .country-card:hover h1 .collection, .countries .country-card:hover .country-details {
    color: white;
}
.countries .country-card:hover h1 .collection{
    left: 1rem;
 }
.country-card .flag-icon {
    font-size:1.6rem;
    position: relative;
    top: -2px;
    margin:0 8px 0 1px;
    border-radius: 2px;
    background-size: cover;
    overflow: visible;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.25);
}