/* Global Navigation ------------ */ 
#top-nav {
	position: relative;
	z-index: 3;
}
#top-nav section {
    width:auto;
    color: rgba(255,255,255,1);
  	vertical-align: middle;
  	padding-left: 0;
  	height: 44px;
  	z-index: 2;
  	transition: color 0.3s;
  	position: absolute;
  	width: 100%;
}
#top-nav section:hover {
	color: rgba(255,255,255,1);
}
#top-nav section:hover a {
	color: rgba(255,255,255,0.9);
}
#top-nav #site-name {
	padding: 13px 12px;
}
#top-nav #site-name a {
	color: rgba(255,255,255,1);
}
#site-name sup {
	color: rgb(255,125,150);
	font-size: 0.6rem;
	margin-left: 3px;
	position: relative;
	top: -1px;
}
#top-nav p, #top-nav ul, #top-nav li {
	display: inline-block;
	vertical-align: middle;
}
#top-nav p {
	margin: 0;
}
#top-nav ul { 
	list-style: none;
	margin: 0;
	float: right;
	vertical-align: middle;
}
#top-nav li {
    cursor:pointer;
    vertical-align: middle;
}
#top-nav li:last-child {
	padding-right: 12px;
}
#top-nav li a {
	display: inline-block;
	padding: 13px 6px;
	color: rgba(255,255,255,0.9);
	transition: color 0.3s;
}
#top-nav li a:hover {
	color: rgba(255,255,255,1);
}

/* Global Navigation on Subpages ------------ */ 
#top-nav.fixed-nav section, footer {
	background: linear-gradient(to right, rgb(115,50,255), rgb(75,0,235));
	position: relative;
	color: rgba(255,255,255,1);
}
.breadcrumb {
	background: linear-gradient(to bottom left, rgb(255,255,255), rgb(235,235,235));
	padding: 7px 10px;
}
.breadcrumb, .breadcrumb a {
	color: rgba(0,0,0,0.6);
}
.breadcrumb a:hover {
	color:rgba(0,0,0,0.8);
}
.breadcrumb i {
	opacity: 0.4;
}
.breadcrumb .flag-icon {
	display: none;
}

/* Footer ------------ */ 
footer {
	margin: 0;
}
footer a {
	color: white;
	opacity: 0.9;
	transition: opacity 0.3s;
}
footer a:hover {
	opacity: 1;
}
footer p {
	padding: 2rem 1rem 2rem 2rem;
}
footer p, footer ul {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
footer ul {
	list-style: none;
	padding: 2rem 0;
	line-height: 1.6;
}

