@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('../fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
       url('../fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:black;
}

body {
    position:relative;
    width:100%;
    height:auto;
    margin:0;
    font-family: 'Atlas Grotesk Web';
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

.countries {
    fill:rgba(255,255,255,0.1);
}

.countries.active {
    fill:rgba(235,225,230,0.3);
    cursor: pointer;
    transition: fill 200ms;
}

.countries.active:hover {
    fill:rgba(235,225,230,0.5);
}

#landing-screen {
    position:relative;
    margin: 0 auto;
    width:100%;
    height:100vh;
    background: radial-gradient(rgba(0,104,214,0.7), rgba(0,104,214,0.9));
}

#landing-screen .map {
    padding:60px 30px 30px 0;
    width: 100%;
    height: 100%;
    animation: fadein 0.5s;
}
#hero-text {
    pointer-events: none;
    font-size: 3.5rem;
    font-weight: 400;
    position: absolute;
    top: 25vh;
    left: 7%;
    color: white;
    text-shadow: 0px 2px 6px rgba(0,104,214,0.9);
    margin:0;
    transition: font-size 400ms, top 400ms, left 400ms;
}

#hero-text.min{
    top:calc(100vh - 58px - 8px);
    font-size:1.5em;
    left:12px;
}

@keyframes fadein {
    from {opacity: 0;}
    to {top: 1;}
}

.country-card {
    margin: 0;
    position:absolute;
    width:375px;
    flex-shrink: 0;
    background:white;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,104,214,0.9);
    opacity:0;
    pointer-events:none;
    transition:opacity 200ms;
}

.country-card.show {
    opacity:1;
}

.country-card h1 {
    position:relative;
    margin:0;
    font-family: 'Atlas Grotesk Web';
    font-size: 14px;
    line-height:18px;
    padding:6px 8px 3px 8px;
    font-weight: 400;
}

.country-card .flag-icon {
    position: relative;
    top: -2px;
    border-radius: 2px;
    margin:0 5px 0 1px;
    background-size: cover;
    overflow: visible;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.25);
}

.country-card .country-details {
    font-size:14px;
    line-height:18px;
    color:rgb(150,150,150);
    padding:6px 8px 5px 8px;
    border-top:1px solid rgb(220,220,220);
}

.country-card .country-details div {
    color:white;
    background:rgb(0,132,255);
    padding:2px 5px 4px 5px;
    border-radius:7px;
    display:inline-block;
}

.country-card .collection {
    border-top:1px solid rgb(220,220,220);
    font-size: 14px;
    line-height:18px;
    padding:6px 8px 7px 8px;
    display:none;
}

.countries-intro h1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
    color: rgba(0,0,0,0.7);
    margin: 0;
    padding: 2rem 2rem 1rem;
}

.countries-intro > h1, .countries-list {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.countries-list {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
    border-radius: 4px;
    margin: 2rem 0;
}

.country-item {
    box-shadow: none;
    width: 100%;
    padding: 0.5rem 2rem 0.6rem;
    border-radius: 0;
    border-bottom: 2px solid rgba(0,0,0,0.05);
}
.country-item:first-of-type {
    border-radius:4px 4px 0 0;
}
.country-item h1 {
    font-size: 1.5rem;
    padding: 7px 10px 0px 0px;
    color: rgba(0,104,214,0.9);
    background: none;
    box-shadow: none;
    font-weight: 400;
    margin: 0;
}
.country-item h1 .collection {
    display: inline-block;
    color: rgba(0,0,0,0.25);
    padding: 0;
    position: relative;
    left: 0;
    transition: left 0.3s; 
}
.country-item:hover{
    background: linear-gradient(to bottom right, rgba(0,104,214,0.9), rgba(0,104,214,0.7));
    cursor:pointer;
    color:white;
}
.country-item:hover h1, .country-item:hover h1 .collection, .country-item:hover .country-details {
    color: white;
}
.country-item:hover h1 .collection {
    left: 1rem;
 } 
.see-all a {
    display: block;
    padding: 1rem 2rem;
    background: linear-gradient(to bottom left, rgb(240,240,240), rgb(235,235,235));
    font-size: 1.5rem;
    color: rgba(0,0,0,0.75);
    opacity: 0.7;
    transition: opacity 0.3s;
    border-radius:0 0 4px 4px;
}
.see-all a i {
    color: rgba(0,0,0,0.5);
    transition: color 0.3s, margin-left 0.3s;
}
.see-all a:hover{ 
    opacity: 1;
}
.see-all a:hover i {
    margin-left: 0.5rem;
    color: rgba(0,0,0,0.75);
}
