body {
	font-family: 'Lato', sans-serif;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
nav.top-nav {
	width: 100%;
	background: #f3f3f3;
	height: 60px;
	margin-bottom: 30px;
}
nav.contents {
	background: #f3f3f3;
	border-radius: 6px;
	display: inline-block;
	width: 250px;
	padding: 10px 20px;
	line-height: 1.2;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 82px;
	font-size: 0.9rem;
}

nav.contents section {
	margin: 5px 0;
}

nav.contents a {
	display: block;
	text-decoration: none;
	color: black;
}
nav.contents a.indent {
	padding-left: 10px;
}

main { 
	display: inline-block;
	width: 720px;
}

main h3 {
	font-size: 1rem;
	margin-bottom: 0;
}

main p, main ul {
	margin: 0;
    padding:0;
	line-height: 1.2;
}

h1 .flag-icon {
	border-radius: 6px;
	margin-right: 10px;
}

.summary {
	background: #f3f3f3;
	height: 300px;
	width: 100%;
	border-radius: 6px;
	color: #999;
	padding: 20px;
}