* {
    box-sizing: border-box;
}

body {
    width:100%;
    height:auto;
    margin:0;
}

.income-button {
    position:absolute;
    top:10px;
    left:10px;
    
    background:rgb(240,240,240);
    display: inline-block;
    color:black;
    font-family: 'Helvetica';
    padding:5px;
    
    cursor:pointer;
}

.income-button:hover {
    background:rgb(230,230,230);
}

.countries {
    fill:rgb(240,240,240);
}

.countries {
    fill:rgb(230,230,230);
}

.countries.active {
    fill:rgb(200,200,200);
}

.countries.active:hover {
    fill:rgb(255,245,150);
}

/*INCOME CLASSES*/

.countries.High {
    fill:rgb(26,132,184);
}

.countries.Upper-Middle {
    fill:rgb(26,158,184);
}

.countries.Lower-Middle {
    fill:rgb(26,176,184);
}

.countries.Low {
    fill:rgb(26,194,184);
}